body {
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    margin: 20px;
    background-color: #3E3E42;
}

header {
    font-family: 'Times New Roman', serif;
    text-align: center;
    background-color: #4CAF50;
    color: white;
    margin-bottom: 20px;
}

h2 {
    text-align: center;
    margin: 0;
    padding: 20px 0;
}

nav ul {
    list-style: none;      /* Remove os bullets */
    padding: 0;            /* Remove o recuo interno */
    margin: 0;             /* Remove o espaço externo */
    display: flex;         /* Opcional: alinha os itens em linha */
    gap: 1rem;             /* Espaçamento entre os links */
}

nav a {
    text-decoration: none; /* Remove o sublinhado dos links */
    color: inherit;        /* Herda a cor do elemento pai */
}

#menu{
  justify-content: center;
  display: flex;
  gap: 10px;
  
}
#menu a{
  padding: 10px 20px;
  background-color: #4CAF50;
  border-radius: 5px;
}

#menu a:hover {
  background-color: #348438;
}

#loc{
    display: flex;
    margin-top: 30px;
}
#locTexto{
    margin-top: 10%;
    text-align: left;
    
}

#mapa {
    
    display: block;
    width: 50%;
    border: 6px solid #4CAF50; 
  border-radius: 20px; 
}

footer {
    text-align: center;
    font-size: 0.8em;
    color: white;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

table {
            width: 60%;
            border-collapse: collapse;
            margin-top: 20px;
            margin: auto;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: center;
        }
        th {
            background-color: #4CAF50;
            color:#ffffff;
;
        }
        td {
            color: #4CAF50;
        }

#mediaMenu {
    justify-content: center;
    display: flex;
    gap: 10px;
    color:white;
}

#mediaMenu a{
    text-decoration: none;
    padding: 5px 10px;
    background-color: #4CAF50;
    border-radius: 5px;

}

#mediaMenu a:hover {
    background-color: #348438;
}

#brutaFoto {
    position:relative;
    height: 130vh;
    
}

#brutaFoto h1 {
    position:absolute;
    color: white;
    margin-top: 225px;
    border-radius: 10px;
    display: flex;
}

#fotoMobile{
    display:none;
}

.fotografias {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    height: 110vh;
    justify-content: center;
}
.fotografias img {
    width: 25%;
    height: auto;
    border-radius: 20px;
}

.fotografias img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}
#video {
    height: 100vh;
}
#video iframe {
    display: block;
    width: 90%;
    height: 90%;
    border: 6px solid #4CAF50;
    border-radius: 20px;
    margin: auto;
    
}
#poema {
    height: 100vh;
    text-align: center;
    
}

#poema p:nth-child(odd) {
    color: #4CAF50;
    font-weight: bold;
    
}

@media only screen and (max-width: 600px) {
    #loc {
    flex-direction: column;
    align-items: center;
  }
  #locTexto {
    margin-top: 0;
    text-align: center;
  }
  #mapa {
    width: 100%;
  }

  .fotografias{
    flex-direction: column;
    align-items: center;
    height: auto;
    gap: 10px;
    margin-bottom: 30px;
  }
    .fotografias img {
    width: 90vw;      
    max-width: 400px; 
    height: auto;     
    border-radius: 20px;
    }

    #fotoMobile{
        display:block;
    }

    #mediaMenu {
        flex-direction: column;
        align-items: center;
    }
}


